body{
font: 15px/1.5 Helvetical,sans-serif;
padding: 0;
margin: 0;
background-color: #f4f4f4;
}
/*"global"*/
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}


/*"header"*/
header{
    background: #35424a;
    color: #f6f6f6 ;
    padding-top: 30px;
    min: height 70px;
}